<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>{{ pic.p_title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        body {
            max-width: 512px;
            padding: 2%;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <h1>{{ pic.p_title|e }}</h1>
    <p>
        <a href="https://www.dailypics.cn/member/id/{{ pic.PID }}" target="_blank">官网</a>
        <a href="tujian://p/{{ pic.PID }}" target="_blank">客户端(1)</a>
        <a href="dailypics://p/{{ pic.PID }}" target="_blank">客户端(2)</a>
    </p>
    <p>
        <small>{{ pic.PID }}</small>
        <br />
        <small>{{ pic.p_date }}<a href="date-{{ pic.p_date }}.html" target="_blank">.</a> {{ sort.T_NAME }}<a href="sort-{{ pic.TID }}.html" target="_blank">.</a> @{{ pic.username|e }}<a href="user-{{ pic.username }}.html" target="_blank">.</a></small>
        <br />
        <small>{{ pic.width }}×{{ pic.height }} {{ pic.aspect_ratio }}<a href="asp-{{ pic.aspect_ratio|replace(':','-') }}.html" target="_blank">.</a> {{ pic.info.image.format }} {{ pic.size }}</small>
        <br />
        <small><span style="color: {{ pic.text_color }}; background-color: {{ pic.theme_color }}">{{ pic.text_color }} @ {{ pic.theme_color }} (顶部)</span> <span style="color: {{ pic.text_color }}; background-color: {{ pic.info.image.photo_rgb|replace('0x','#') }}">{{ pic.info.image.photo_rgb|replace('0x','#') }}</span></small>
    </p>
    <p id="info">{{ pic.p_content_html }}</p>
    <img src="https://files.evax.top/Tujian/{{ pic.p_date }}-{{ sort.T_NAME }}_{{ pic.p_title }}_{{ pic.PID }}.{{ pic.username }}{{ pic.type }}" alt="{{ pic.p_title|e }}">
    <p><small>
    {% if pic.info.exif.Artist %} 作者: {{ pic.info.exif.Artist.val }}<br/>{% endif %}
    {% if pic.info.exif.ExposureTime %} 快门速度: {{ pic.info.exif.ExposureTime.val }}<br/>{% endif %}
    {% if pic.info.exif.FNumber %} 光圈系数: {{ pic.info.exif.FNumber.val }}<br/>{% endif %}
    {% if pic.info.exif.ISOSpeedRatings %} ISO: {{ pic.info.exif.ISOSpeedRatings.val }}<br/>{% endif %}
    {% if pic.info.exif.FocalLengthIn35mmFilm %} 35mm等效焦距: {{ pic.info.exif.FocalLengthIn35mmFilm.val }}<br/>{% endif %}
    {% if pic.info.exif.Make %} 设备厂商: {{ pic.info.exif.Make.val }}<br/>{% endif %}
    {% if pic.info.exif.Model %} 设备型号: {{ pic.info.exif.Model.val }}<br/>{% endif %}
    {% if pic.info.exif.Software %} 软件: {{ pic.info.exif.Software.val }}<br/>{% endif %}
    {% if pic.info.exif.DateTimeOriginal %} 拍摄时间: {{ pic.info.exif.DateTimeOriginal.val }}<br/>{% endif %}
    {% if pic.info.exif.DateTime %} 修改时间: {{ pic.info.exif.DateTime.val }}<br/>{% endif %}
    </small></p>
</body>
</html>
