<!DOCTYPE html>
<html>

<head>
    <title>Tujian</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <h1>Tujian</h1>
    <p>数据更新时间: {{ pics.info.end }}</p>
    <h2>JSON</h2>
    <ul>
        <li><a href="all.json" target="_blank">All</a></li>
        <li><a href="sort.json" target="_blank">Sort (Array)</a></li>
        <li><a href="sort2.json" target="_blank">Sort (Object)</a></li>
        <li><a href="today.json" target="_blank">Today</a></li>
        {% for sort in pics.sort %}
        <li><a href="sort-{{ sort.TID }}.json" target="_blank">Sort: {{sort.T_NAME}}</a></li>
        {% endfor %}
    </ul>
    <h2>图片归档(不含今日)</h2>
    <ul>
        {% for sort in pics.sort %}
        <li>{{ sort.T_NAME }}: {{ pics.archive[sort.TID]|length }}</li>
        {% endfor %}
    </ul>
    <h2>今日图片</h2>
    <ul>
        {% for pic in pics.today %}
        <li>
            <a href="{{ pic.PID }}.html" target="_blank">
                {{ pic.p_title|e }} @ {{ pic.T_NAME }} by {{ pic.username|e }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h2>历史图片:</h2>
    {% for sort in pics.sort %}
    <h3>{{sort.T_NAME}}</h3>
    <ul>
        {% for pic in pics.archive[sort.TID] %}
        <li>
            <a href="{{ pic.PID }}.html" target="_blank">
                {{ pic.p_title|e }} @ {{ pic.username|e }} on {{ pic.p_date }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>

</html>