<!DOCTYPE html>
<html>

<head>
    <title>Tujian</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <h1>Tujian</h1>
    <img src="https://travis-ci.org/gggxbbb/TuPics.svg?branch=master">
    <p>数据更新时间: {{ pics.info.end }}</p>
    <h2 id='count'>图片归档(不含今日)</h2>
    <ul>
        {% for sort in pics.sort %}
        <li>{{ sort.T_NAME }}: {{ pics.archive[sort.TID]|length }}</li>
        {% endfor %}
    </ul>
    <h2 id='today'>今日图片</h2>
    <p>{{ not_updated }}</p>
    <ul>
        {% for pic in pics.today %}
        <li>
            <a href="{{ pic.PID }}.html" target="_blank">
                {{ pic.p_title|e }} @ {{ pic.T_NAME }} by {{ pic.username|e }} on {{ pic.p_date }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h2 id='json'>JSON</h2>
    <ul>
        <li><a href="all.json" target="_blank">All</a></li>
        <li><a href="info.json" target="_blank">Info</a></li>
        <li><a href="not_updated.json" target="_blank">Not Updated</a></li>
        <li><a href="today.json" target="_blank">Today</a></li>
    </ul>
    <h3 id='sort'>Sort ({{pic.sort|length}})</h3>
    <a href="sort.json" target="_blank">Sort (Array)</a>
    <a href="sort2.json" target="_blank">Sort (Object)</a>
    <ul>
        {% for sort in pics.sort %}
        <li><a href="sort-{{ sort.TID }}.json" target="_blank" id='sort-{{ sort.TID }}'>Sort: {{sort.T_NAME}} ({{ pics.archive[sort.TID]|length }})</a></li>
        {% endfor %}
    </ul>
    <h3 id='username'>Username ({{pic.username|length}})</h3>
    <a href="username.json" target="_blank">Username (Array)</a>
    <a href="user-all.json" target="_blank">Username (Object)</a>
    <ul>
        {% for user in pics.username %}
        <li><a href="user-{{ user }}.json" target="_blank" id='user-{{ user }}'>User: {{user}} ({{ pics.users[user]|length }})</a></li>
        {% endfor %}
    </ul>
    <h3 id='aspect_ratio'>Aspect ratio ({{pic.asp|length}})</h3>
    <a href="asp.json" target="_blank">Aspect ratio (Array)</a>    
    <a href="asp-all.json" target="_blank">Aspect ratio (Object)</a>
    <ul>
        {% for asp in pics.asp %}
        <li><a href="asp-{{ asp|replace(':','-') }}.json" target="_blank" id='asp-{{ k }}'>Aspect ratio: {{asp}} ({{ pics['aspect_ratio'][asp]|length }})</a></li>
        {% endfor %}
    </ul>
    <h2 id='history'>历史图片:</h2>
    {% for sort in pics.sort %}
    <h3 id='s-{{ sort.TID }}'>{{sort.T_NAME}}</h3>
    <ul>
        {% for pic in pics.archive[sort.TID] %}
        <li>
            <a href="{{ pic.PID }}.html" target="_blank" id='{{ pic.PID }}'>
                {{ pic.p_title|e }} @ {{ pic.username|e }} on {{ pic.p_date }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>

</html>
